# Ignore everything
*

# Explicitly whitelist _necessary_ **source files**
!/package.json
!/package-lock.json
!/Makefile
!/lib/
!/config/

!/oidc-tester/package.json
!/oidc-tester/package-lock.json
!/oidc-tester/Procfile
!/oidc-tester/scripts/
