# Ignore everything
*

# Explicitly whitelist _necessary_ **source files**
!/package.json
!/package-lock.json
!/Makefile
!/lib/
!/config/

!/oidc-tester/odk-central-backend-config.json
!/oidc-tester/certs/*.pem
!/oidc-tester/fake-oidc-server/accounts.json
!/oidc-tester/fake-oidc-server/index.js
!/oidc-tester/fake-oidc-server/package.json
!/oidc-tester/fake-oidc-server/package-lock.json
!/oidc-tester/playwright-tests/package.json
!/oidc-tester/playwright-tests/package-lock.json
!/oidc-tester/playwright-tests/playwright.config.js
!/oidc-tester/playwright-tests/src/**/*.spec.js
!/oidc-tester/scripts/*.sh
